{{template "Main/mheader.html" .}}

<div class="container">
    <div class="page-header">
        <h3><span></span> Geräteübersicht</h3>
    </div>
    <div id="connection-error"> </div>
    <div class="container">
        {{range $index,$value:=.devices}}
        <div class="row-fluid border">
            <div class="col-md-4 bordered">
                <div class="panel panel-default center">
                    <div class="panel-heading center" style="text-align: center">
                        <!-- device-{{.ID}} -->
                        <!-- <br> -->
                        {{$value.Name}}
                    </div>
                    <div class="panel-body">
                        <!-- <div id="device-{{.ID}}" class="{{if eq .State `ON`}}switchedOn {{end}}{{if eq .Connected true}}connected {{end}}circle center"><img src="/public/img/thermo2.svg" width="25" height="25" />-25.7</div> -->
                        <!-- <div id="device-{{.ID}}" class="{{if eq .State `ON`}}switchedOn {{end}}{{if eq .Connected true}}connected {{end}}circle center">{{.State}}</div> -->
                        <div id="device-{{.ID}}" class="circle center"></div>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}

        <script>
            // Create a socket
            var socket = new WebSocket('{{.websocketHost}}{{.contextRoot}}/Main/DeviceFeed');

            // send Click Command on every Click
            var callbackhandler = function() {
                $(".circle").click(function() {
                    transmit = {
                        "Command": "CLICK",
                        "Device": $(this)[0].id
                    }
                    socket.send(JSON.stringify(transmit))
                });
            };

            // initially, we fetch the state of the device
            var loadhandler = function() {
                $(".circle").each(function(index) {
                    socket.send(JSON.stringify({
                        "Command": "GETSTATE",
                        "Device": $(this)[0].id
                    }))
                });
            };

            $(document).ready(function() {

                // Message received on the socket
                socket.onmessage = function(event) {
                    state = JSON.parse(event.data)
                    console.log(state)
                    switch (state.Command) {
                        case "STATEUPDATE": //fall through
                        case "STATERESPONSE":

                            // Text
                            $("#" + state.Device).html(state.State)

                            // State-Border
                            if (state.Connected) {
                                $("#" + state.Device).addClass("connected")

                            } else {
                                $("#" + state.Device).removeClass("connected")
                            }

                            switch (state.DeviceType) {
                                case 0:
                                    //socket
                                    console.log("we process for a socket a " + state.State)
                                    if (state.State == "ON") {
                                        $("#" + state.Device).html(function() {
                                            return '<img src="/public/img/socket_on.svg" width="30" height="30"/>'
                                        });
                                        $("#" + state.Device).addClass("switchedOn");
                                    } else {
                                        $("#" + state.Device).html(function() {
                                            return '<img src="/public/img/socket_off.svg" width="35" height="35"/>'
                                        });
                                        $("#" + state.Device).removeClass("switchedOn");
                                    }
                                    break;
                                case 1:
                                    //switch
                                    console.log("we process for a socket a " + state.State)
                                    if (state.State == "ON") {
                                        $("#" + state.Device).html(function() {
                                            return '<img src="/public/img/switch_on.svg" width="40" height="40"/>'
                                        });
                                        $("#" + state.Device).addClass("switchedOn");
                                    } else {
                                        $("#" + state.Device).html(function() {
                                            return '<img src="/public/img/switch_off.svg" width="40" height="40"/>'
                                        });
                                        $("#" + state.Device).removeClass("switchedOn");
                                    }
                                    break;
                                case 2:
                                    // bulb
                                    if (state.State == "ON") {
                                        $("#" + state.Device).addClass("switchedOn");
                                        $("#" + state.Device).html(function() {
                                            return '<img src="/public/img/bulb_on.svg" width="30" height="30"/>'
                                        });
                                    } else {
                                        $("#" + state.Device).html(function() {
                                            return '<img src="/public/img/bulb_off.svg" width="30" height="30"/>'
                                        });
                                        $("#" + state.Device).removeClass("switchedOn");
                                    }
                                    break;
                                case 3:
                                    // thermo
                                    $("#" + state.Device).html(function() {
                                        return '<img src="/public/img/thermo.svg" width="25" height="25"/>' + state.State
                                    });
                                    break
                            }

                            break;


                    }
                }

                if (socket.readyState != 1)
                    socket.onopen = function() {
                        callbackhandler();
                        loadhandler();
                    }
                else {
                    callbackhandler()
                    loadhandler();
                }

                // wait until socket is connected
                // TODO: Nice UI State to display state of Websocket
                connectionError = $("#connection-error")
                setTimeout(() => {
                    if (socket.readyState != 1) {
                        connectionError.html("error connecting websocket");
                    }
                }, 1000); // ms

            });

            $(window).unload(function() {
                socket.close()
                console.log("We leave the page")
                    // return "Handler for .unload() called.";
            });
        </script>

        {{template "Main/mfooter.html" .}}