{{template "Main/mheader.html" .}}
<script src="{{.contextRoot}}/public/js/dashboard_ts/dist/bundle.js"></script>
<div class="container">
    <div class="page-header">
        <h3><span>Geräteübersicht</span><span id="wsstate" wshost="{{.websocketHost}}" contextroot="{{.contextRoot}}"></span></h3>
    </div>
    <div id="connection-error"> </div>
    <div class="container">
        {{range $index,$value:=.devices}}
        <div class="row-fluid border">
            <div class="col-md-4 bordered">
                <div class="panel panel-default center">
                    <div class="panel-heading center" style="text-align: center">
                        {{$value.Name}}
                    </div>
                    <div class="panel-body">
                        <div id="device-{{.ID}}" class="circle center"></div>
                    </div>
                </div>
            </div>
        </div>
        {{ end }} {{template "Main/mfooter.html" .}}