{{template "Main/mheader.html" .}}

<div class="container">
    <div class="page-header">
        <h3><span></span> Neues Gerät hinzufügen</h3>
    </div>

    {{if .errors}}
    <div class="alert alert-danger alert-dismissable fade in">
        {{range .errors}}
        <li>{{.}} {{end}}
    </div>
    {{end}}

    <div class="container">
        <h2>Anlage Device</h2>
        <form action="{{.contextRoot}}/main/createdevice" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="name" class="form-control" id="name" placeholder="Name des Gerätes" name="device.Name">
            </div>
            <div class="form-group">
                <label for="desc">Beschreibung:</label>
                <input type="desc" class="form-control" id="desc" placeholder="Beschreibung" name="device.Description">
            </div>
            <div class="form-group">
                <label for="producer">Beschreibung:</label>
                <input type="producer" class="form-control" id="producer" placeholder="Hersteller" name="device.Producer">
            </div>
            <div class="form-group">
                <label for="devtype">Gerätetyp:</label>
                <select multiple class="form-control" id="devtype" name="device.DeviceType">
                        {{ range $index,$value:=.devicetype}}
                        <option value={{$index}} >{{$value}}</option>
                        {{ end }}
                  </select>
            </div>
            <div class="form-group ">
                <label for="autocountdown">Auto Countdown</label>
                <input type="autocount" class="form-control" id="autocountdown" placeholder="AutoCountDown" name="device.AutoCountDown">
            </div>
            <button type="submit" class="btn btn-default">Erzeugen</button>
        </form>
    </div>

    {{template "Main/mfooter.html" .}}