 {{append . "moreStyles" "dashboard.css"}} {{set . "title" "Home"}} {{template "header.html" .}}

<div class="row affix-row">
    <div class="col-sm-3 col-md-2 affix-sidebar">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                 </button>
                    <span class="visible-xs navbar-brand">Sidebar menu</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav" id="sidenav01">
                        <li class="active">
                            <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
                                <h4>
                                    Smarthome
                                    <br>
                                    <small>{{.user}} <span class="caret"></span></small>
                                </h4>
                            </a>
                            <div class="collapse" id="toggleDemo0" style="height: 0px;">
                                <ul class="nav nav-list">
                                    <li><a href="/main/logout">Logout</a></li>
                                    <li><a href="/main/settings">Einstellungen</a></li>

                                </ul>
                            </div>
                        </li>
                        <li><a href="/main/dashboard"><span ></span>Übersicht</a></li>
                        <li>
                            <a href="#" data-toggle="collapse" data-target="#devicesubmenu" data-parent="#sidenav01" class="collapsed">
                                <span class="glyphicon glyphicon-chevron-right"></span>Geräte<span class="caret pull-right"></span>
                            </a>
                            <div class="collapse" id="devicesubmenu" style="height: 0px;">
                                <ul class="nav nav-list">
                                    <li><a href="/main/devicelist">bearbeiten</a></li>
                                    <li><a href="/main/devicenew">neu</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#" data-toggle="collapse" data-target="#usersubmenu" data-parent="#sidenav01" class="collapsed">
                                <span class="glyphicon glyphicon-chevron-right"></span>Nutzer<span class="caret pull-right"></span>
                            </a>
                            <div class="collapse" id="usersubmenu" style="height: 0px;">
                                <ul class="nav nav-list">
                                    <li><a href="#">suchen</a></li>
                                    <li><a href="#">neu</a></li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-10 affix-content">