language: go

go:
  - "1.10.x"

os:
  - linux

install:
# Setting environments variables
  - export PATH=$PATH:$HOME/gopath/bin

  - go get -v github.com/revel/revel/...
  - go get -v github.com/revel/cmd/revel

script:
  - revel version
  - make
  - revel test    schneidernet/smarthome